.spotiboi-header {
    font-family: 'Montserrat', sans-serif !important;
}
.start {
    margin-top: 20%;
    background-color: #f9f9f9ed;
    padding: 20px;
    border-radius: 51px;
}

#updateSpinner { 
    display: none; 
} 

.busy { 
    display: inline-block !important
}

.inputDiv {
    display: none;
}

.reveal {
    display: block !important
}

.blocked {
    background-color: #ffcfcf !important
}

#settingsForm label {
    margin-top: 20px;
    margin-bottom: 0px;
}

#settingsForm .custom-switch:first-child > label {
    margin-top: 0px !important;
    margin-bottom: 0px;
}

.tippy-box[data-theme~='spotigreen'] {
    background-color: #28a745;
    color:white;
  }

.tippy-box[data-theme~='spotigreen'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #28a745;
  }

.tippy-box[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(.26,.66,.83,.67);
  }

.accordion b {
    color: black;
}

.card {
    border-radius: 8px !important;
}

.card img {
    border-radius: 8px !important
}

.card .crop {
    max-width: 80%;
    position: absolute;
    right: -48px !important;
    top: 128px;
    height: 145px;
    width: 200px;
    overflow: hidden;
}

.modal-content {
    border-radius: 10px !important;
}

.songData {
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    margin-bottom: 10px !important;
}

#TelegramButton:hover svg{
    fill: white
}

