h1,h2,h3,h4,h5, a, p {
    font-family: 'Montserrat', sans-serif;
}

.start {
    margin-top: 30%;
}

.center {
    margin-top: 30px;
    margin-left: 40%;
}

#updateSpinner { 
    display: none; 
} 

.busy { 
    display: inline-block !important
}

.inputDiv {
    display: none;
}

.reveal {
    display: block !important
}

.blocked {
    background-color: #ffcfcf !important
}