{% extends 'base.html' %}

{% block body %}
{% set faq =  [
  ({{_('What is Spotiboi for?')}} , ((_("First of all, Spotiboi was created to work with a <a href=\"http://smarterplaylists.playlistmachinery.com\">Smarter playlists</a> service. Spotiboi collects information about the songs you listened to and moves these songs into a separate playlist called \"History\". In the future, you can use the \"History\" playlist to create smart playlists and exclude songs you\'ve already listened to.")))),
  ({{_('Spotiboi adds only 50 songs at a time. Why?')}} , {{_("This is an API limitation of Spotify :(")}}),
  ({{_('Songs are not added to my playlist!')}} , {{_("You should make you History playlist public. Any tracks listened to while the user had “Private Session” enabled in their client will not be added. ")}}),
  ({{_('I can\'t attach a playlist')}} , {{_("Check your playlist privacy. You should make your History playlist public. Any tracks listened to while the user had “Private Session” enabled in their client will not be added. Also check that your URI is correct and it's not URL.")}}),
  ({{_('Are skipped songs will be added to the playlist?')}} , {{_("No. You must listen to the song to the end, or you can rewind the song to the very end and then it will be counted (rewinding is not recommended).")}}),
  ({{_('On the History page, group names in Cyrillic are displayed in Latin')}} , {{_("Unfortunately, this is a Spotify API \'feature\'. Adding tracks to the playlist will not be affected by this ")}})
  ] %}
<div class="accordion" id="accordionExample">
  {% set num = namespace(value=0) %}
  {% for text in faq %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{num.value}}" aria-expanded="true" aria-controls="collapse{{num.value}}">
            <b>{{text[0]}}</b> 
          </button>
        </h2>
      </div>
  
      <div id="collapse{{num.value}}" class="collapse" aria-labelledby="heading{{num.value}}" data-parent="#accordionExample">
        <div class="card-body">
            {{text[1]}}
        </div>
      </div>
    </div>
  
  {% set num.value = num.value + 1 %}
  {% endfor %}
</div>
{% endblock body %}