{% extends 'base.html' %}

{% block body %}
<div class="row">
    <h2>Hi {{ username }} <small><a href="/sign_out">[sign out]</a></small></h2>
</div>
<div class="row" style='padding-bottom: 30px;'>
    {% for m in menu %}
        <button type="button" onclick="location.href='{{ m.url }}';" class="btn btn-success btn-lg">{{ m.title }}</button>
    {% endfor %}
</div>

<script>
  $('#deattachModal').on('shown.bs.modal', function () {
  $('#deattachModal').trigger('focus')
})
</script>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a style="position: absolute; top: 1px; right: 21px; z-index: 1; color: #6c757d;" href="#" title="De-attach playlist" class="text-decoration-none" data-toggle="modal" data-target="#deattachModal">
            <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
            </svg>
          </a>
          <div class="card mb-4 shadow-sm">
            {% if history_playlist_data.images != None %}
              <img src="{{ history_playlist_data.images }}" alt="cover" class="img-fluid" >
            {% else %}
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="35%" y="50%" fill="#eceeef" dy=".3em">No artwork :(</text></svg>
            {% endif%}
            <div class="card-body">
              <!-- Если плейлист есть и прикреплён -->
              {% if history_playlist_data.name != None %}
                <h3 class="card-text">{{ history_playlist_data.name }} </h3>
                <p class="card-text">This is your History playlist</p>
                <div class="custom-control custom-switch">
                  <form action="/" method="post">
                      <input type="checkbox" class="custom-control-input" name='updateSwitch' id="customSwitch1" {{ updateChecked }}>
                      <label class="custom-control-label" for="customSwitch1">Auto-update History</label>
                      <input type="submit" value="Save" class="btn btn-sm btn-outline-primary">
                  </form>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" onclick="window.open('https://open.spotify.com/playlist/{{ history_playlist_data.id }}',
                    '_blank')" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" onclick="window.open('/make_history',
                    '_blank')" class="btn btn-sm btn-outline-secondary">Update</button>
                  </div>
                  {% if time_difference != None %}
                    <small class="text-muted">Updated {{ time_difference }} min ago</small>
                  {% endif %}
                </div>
              <!-- Если плейлиста нет -->
              {% else %}
                <p class="card-text">You don't have attached history playlist</p>
                <form action="/" method="post">
                  <input type="hidden" name="create_playlist">
                  <input type="submit" value="Create now" class="btn btn-sm btn-outline-primary">
                </form>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#attachModal">
                  Attach your own playlist
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Detach Modal -->
<div class="modal fade" id="deattachModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to detach the playlist?
      </div>
      <div class="modal-footer">
        <form action="/" method="post">
          <input type="hidden" name="detach_playlist">
          <input type="submit" class="btn btn-primary" value="Yes">
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Attach Modal -->
<div class="modal fade" id="attachModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attach your own playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/" method="post">
          <div class="form-group">
            <label for="uriInput">Playlist URI</label>
            <input name='uriInput' type="text" class="form-control" id="uriInput" aria-describedby="uri" placeholder="URI">
            <small id="uriHelp" class="form-text text-muted">If you can't find URI, right-click on your playlist -> Share -> Copy Spotify URI. Do not confuse with URL!</small>
            <input type="submit" class="btn btn-primary" value="Attach">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
  {% for cat, msg in get_flashed_messages(True) %}
  <div class="alert {{cat}}" role="alert">
    {{msg}}
  </div>
  {% endfor %}
{% endblock %}

<script>
  window.open(
  'https://open.spotify.com/playlist/{{ history_playlist_data.id }}',
  '_blank' // <- This is what makes it open in a new window.
);
</script>